<div class="footer-komponent">
  <section class="footer">
    <div class="social">
      <a><i class="fab fa-instagram"></i></a>
      <a><i class="fab fa-snapchat"></i></a>
      <a><i class="fab fa-twitter"></i></a>
      <a><i class="fab fa-facebook-f"></i></a>
    </div>
    <ul class="list">
      <li>
        <a>Home</a>
      </li>
      <li>
        <a>Services</a>
      </li>
      <li>
        <a>Terms</a>
      </li>
      <li>
        <a>Terms</a>
      </li>
    </ul>
    <p class="copyright">ILija</p>
  </section>
</div>
